<% layout("/layouts/boilerPlate") %>

<section class="edit-listing">
  <div class="container">
    <h1>Edit Your Listing</h1>
    <form
      class="needs-validation"
      action="/listings/<%= listing._id %>?_method=PATCH"
      method="post"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="title">
        <label for="title">Title</label>
        <input
          type="text"
          name="listing[title]"
          id="title"
          class="form-control"
          required
          value="<%= listing.title %>"
        />
        <div class="invalid-feedback">Please provide title.</div>
        <span class="material-symbols-outlined"> error </span>
      </div>
      <div class="description">
        <label for="description">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          id="description"
          rows="6"
          class="form-control"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please provide description.</div>
        <span class="material-symbols-outlined"> error </span>
      </div>
      <div class="image-preview">
        <p>Original Listing Image</p>
        <img src="<%= optimizeImageUrl %>" alt="" />
      </div>
      <div class="images">
        <label for="images">Upload Image</label>
        <input
          class="form-control"
          type="file"
          name="listing[image]"
          id="images"
        />
      </div>
      <div class="price">
        <label for="price">Price</label>
        <input
          type="text"
          name="listing[price]"
          id="price"
          class="form-control"
          required
          value="<%= listing.price %>"
        />
        <div class="invalid-feedback">Please provide listing price.</div>
        <span class="material-symbols-outlined"> error </span>
      </div>
      <div class="country">
        <label for="country">Country</label>
        <input
          type="text"
          name="listing[country]"
          id="country"
          class="form-control"
          required
          value="<%= listing.country %>"
        />
        <div class="invalid-feedback">Please provide listing country.</div>
        <span class="material-symbols-outlined"> error </span>
      </div>
      <div class="location">
        <label for="location">Location</label>
        <input
          type="text"
          name="listing[location]"
          id="location"
          class="form-control"
          required
          value="<%= listing.location %>"
        />
        <div class="invalid-feedback">Please provide listing location.</div>
        <span class="material-symbols-outlined"> error </span>
      </div>

      <button>Make Changes</button>
    </form>
    <button class="backBtn">
      <span class="material-symbols-outlined"> chevron_left </span>
      <a href="/listings/<%= listing._id %>">Back to listing</a>
    </button>
  </div>
</section>
<script src="/JS/validateForm.js"></script>
